.resumes {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.addResume {
    width: 462px;
    height: 140px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: #3E4850;

    border: 1px dashed #000000;
    box-sizing: border-box;
    padding: 0%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.halfButton{
    box-sizing: border-box;
    width: 40%;
    margin: 5%;
    background: #727272;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}

.resumeWrapper {
    width: 462px;
    height: 140px;
    box-sizing: border-box;
    padding: 0%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.centerButton {
    position: relative;
    top: 25%;
}

.dotted{
    border: 1px dashed #000000;
}
