.WorkExperienceCard{
    display: flex;
    flex-direction: row;
    height: 96px;
    width: 90%;
    box-sizing: border-box;
    padding: 0px 0px 5px 0px;
    align-items: center;
    border-bottom: 1px solid grey
}

.WorkExperienceCard img {
    height: 65px;
    width: 65;
}

.WorkInfo {
    margin-left: 20px;
    height: 90%;
    width: 590px;

}

.Position {
    display: inline-block;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;

    color: #62686C;
    margin-right: 5px;
    margin-bottom: 0%;
}

.Company {
    display: inline-block;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;

    color: #62686C;
    margin-bottom: 0%;

}

.Time {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    
    color: #62686C;
    margin: 0%;
}

.Description {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    
    color: #62686C;
    margin: 0%;

}