.card{
  height: 10.125rem;
  width: 57.3125rem;
}
.title{
  font-family: PingFang SC;
  line-height: normal;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #454F69;
}
.company{
  font-family: PingFang SC;
  line-height: normal;
  font-size: 1rem;

  color: #454F69;

}
.text{
  font-family: PingFang SC;
  line-height: normal;
  font-size: 14px;
  
  color: #8D9AAF;

}
.date{
  font-family: PingFang SC;
  line-height: normal;
  font-size: 14px;

  color: #8D9AAF;

}
.btn{
  font-family: PingFang SC;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  margin: 0px 0px;
  padding: 9px 16px;
  color: #FFFFFF;
}

