.form-control::-webkit-input-placeholder {
  color: #BDBDBD;
  /*opacity: 1 !important;*/
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: #BDBDBD;
  /*opacity: 1 !important;*/
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
  color: #BDBDBD;
  /*opacity: 1 !important;*/
}

.form-control:-ms-input-placeholder {
  color: #BDBDBD;
}

.dropdown .dropdown-menu .dropdown-item.active, 
.dropdown .dropdown-menu .dropdown-item:active, 
.dropdown .dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: #727272 !important;
}

