.form-control::-webkit-input-placeholder {
  color: #BDBDBD;
  /*opacity: 1 !important;*/
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: #BDBDBD;
  /*opacity: 1 !important;*/
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
  color: #BDBDBD;
  /*opacity: 1 !important;*/
}

.form-control:-ms-input-placeholder {
  color: #BDBDBD;
}

.md-form .prefix.active{
  color: rgb(124, 151, 184);
}

.dropdown .dropdown-menu .dropdown-item.active, 
.dropdown .dropdown-menu .dropdown-item:active, 
.dropdown .dropdown-menu .dropdown-item:hover {
  color: white !important;
  background-color: #727272 !important;
}

.dropdown .dropdown-menu .dropdown-item.active a,
.dropdown .dropdown-menu .dropdown-item:active a,
.dropdown .dropdown-menu .dropdown-item:hover a {
  color: white !important;
}

