.bf-content {
  height: 200px;
}
.bf-container.myAnswerText{
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  height: 400px;
}
.inputWrapper {
  display: table;
}

.inputCell {
  display: table-cell;
  vertical-align: middle;
}
.bf-container.myAnswerText .bf-dropdown.active .dropdown-content {
  display: inline;
}
.bf-container.myAnswerText .bf-dropdown.active .dropdown-content li{
  clear: none;
}
