.a1 {
  background-color: rgb(174, 224, 210);
  background-image: url(https://gwu.joinhandshake.com/assets/students-home/reviews-right-55deb0cfa03e2c6939088864d7b1c22c6d534c2f8a8edd2386c8e09182aec1db.svg), url(https://gwu.joinhandshake.com/assets/students-home/reviews-left-98dc7f586e30341737a6453d89702b627f327e1ecbbce969b3a41cdff50f1f92.svg);
  background-position: 100% 0px, 0px 100%;
  background-repeat: no-repeat;
  background-size: 288px, 364px;
}
