.WorkExperienceCard{
    display: flex;
    flex-direction: row;
    height: 110px;
    width: 90%;
    box-sizing: border-box;
    padding: 0px 0px 5px 0px;
    align-items: center;
    border-bottom: 1px solid grey
}

.WorkExperienceCard input {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #62686C;
    margin: 0%;
    padding-left: 4px;
}

.WorkExperienceCard input:disabled {
    border: 2px solid white;
    padding-left: 4px;
}

.WorkExperienceCard img {
    height: 65px;
    width: 65;
}

.WorkInfo {
    margin-left: 20px;
    height: 90%;
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.WorkInfo div{
    display: flex;
    flex-direction: row;
}