.dropdownItems {
  height: 40px;
}

.dropdownItems p {
  
}

.menu {
  min-width: 125px;
  position: absolute ;
  left: -40px !important;
  top: 227px;
  box-shadow: 0 12px 20px rgba(141, 154, 175, 0.15);
}
