.control {
    height: 40px;
    widows: 100%;
    margin-top: 57px;
    text-align: center;
}

.submit {
    width: 172px;
    height: 40px;
    background: #727272;
    padding: 0;
    box-sizing: border-box;
    border: 0px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
}